<section id="main" class="container recipeContainer">
  <div class="recipeSearch">
    <%= form_tag search_recipes_path, :method => 'get', :remote => true do %>
    <%= text_field_tag 'search', nil, :value => @search_term, :placeholder => 'Search by ingredient or recipe' %>
    <button id='search_button' type="submit" class="btn">
      <i class="icon-search icon-large"></i>
    </button>
    <div class='categoryFilter'>
      <%= radio_button_tag :category, :vegan_only, @category == :vegan_only %>Vegan only
      <%= radio_button_tag :category, :vegetarian, @category == :vegetarian %>Vegetarian
      <%= radio_button_tag :category, :any, @category == :any %>Any
    </div>
    <% end %>
  </div>

  <div id='recipeListContainer'>
    <%= render :partial => 'recipes' %>
  </div>

  <div>
    <%= link_to 'New recipe', new_recipe_path, :class => :formButton if user_signed_in? %>
  </div>
  <div class='clear'/>
</section>
