<div id='blogListContainer'>
  <% @posts.each do |post| %>
    <article class='blogPost'>
      <h2><%= link_to post.title, post %></h2>
      <div class='blogContent'>
        <%= truncate strip_tags(post.html_content), :length => 400, :omission => '...' %>
        <p class='linksMenu'>
          <%= link_to post do %>
            <span class='label'>Read more</span>
            <span class='icon-arrow-right icon'></span>
          <% end %>
        </p>
      </div>
      <div class='blogDate'><%= time_ago_in_words post.published_at %> ago</div>
    </article>
  <% end %>
  <div class='clear'></div>
  <nav class='pagination'>
    <span class="next">
      <%= link_to_next_page @posts, 'More', :remote => true, :class => :formButton %>
    </span>
  </nav>
</div>
