<div id='parallax'>
  <div id='homePanel' class='parallaxPanel' data-content='' data-background='nicervada.jpeg'>
    <div class='container'>
      <div class='homeContent'>
        <h1><%= t('copy.home.home_panel.title') %></h1>
        <p><%= t('copy.home.home_panel.text') %></p>
      </div>
      <div class='clear'></div>
    </div>
  </div>
  <div id='recipesPanel' class='parallaxPanel parallaxPanelLight' data-content='recipes' data-background='dill_wallpaper.jpg'>
    <div class='container'>
      <div class='parallaxTitle'><span class='parallaxTitleText'><%= t('copy.home.recipes_panel.title') %></span></div>
      <%= render :partial => 'shared/carousel' %>
    </div>
  </div>
  <div id='newsPanel' class='parallaxPanel' data-content='news' data-background='wheat.jpg'>
    <a id='news'></a>
    <div class='container'>
      <div class='parallaxTitle'><span class='parallaxTitleText'><%= t('copy.home.news_panel.title') %></span></div>
      <div class='parallaxSubtitle'><span class='parallaxTitleText'><%= t('copy.home.news_panel.subtitle') %></span></div>
      <div class='newsContent firstNewsContent'>
        <h1>
          <span class='icon-truck icon'></span>
          <%= t("copy.home.news_panel.news0.title") %>
        </h1>
        <div id='deliveryFormContainer'>
        </div>
        <div id='deliveryTextContainer'>
          <% t("copy.home.news_panel.news0.text").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
          <div class='buttons'>
            <%= link_to 'Tell me about Home Delivery', new_feedback_path(category: :delivery), :class => 'formButton tellMeMore', :remote => true, :data => { :feedback => :homeDelivery } %>
          </div>
        </div>
      </div>
      <div class='newsContent'>
        <h1>
          <span class='icon-group icon'></span>
          <%= t("copy.home.news_panel.news1.title") %>
        </h1>
        <div id='classesFormContainer'>
        </div>
        <div id='classesTextContainer'>
          <% t("copy.home.news_panel.news1.text").each do |paragraph| %>
            <p><%= paragraph %></p>
          <% end %>
          <div class='buttons'>
            <%= link_to 'Tell me about Classes', new_feedback_path(category: :classes), :class => 'formButton tellMeMore', :remote => true, :data => { :feedback => :classes } %>
          </div>
        </div>
      </div>
    </div>
    <div class='clear'></div>
  </div>
  <div id='contactPanel' class='parallaxPanel' data-content='contact'>
    <a id='contact'></a>
    <div class='container'>
      <div class='parallaxTitle'><span class='parallaxTitleText'><%= t('copy.home.contact_panel.title') %></span></div>
      <div class='parallaxSubtitle'><span class='parallaxTitleText'><%= t('copy.home.contact_panel.subtitle') %></span></div>
      <div id='newsletterSignUp'>
        <article class='title'>Still want to hear more from us? Sign up for our monthly newsletter:</article>
        <article id='subscriptionFormContainer'>
          <%= render :partial => 'subscriptions/form' %>
        </article>
      </div>
      <div id='social'>
        <a id='twitter' href='http://twitter.com/zanzaneet'>
          <h2 class='title'>Follow us on Twitter</h2>
          <%= image_tag('twitter_logo.png', :size => '100x100', :alt => 'Recent tweets') %>
          <ul>
            <% @tweets.each do |tweet| %>
              <li><%= tweet %></li>
            <% end %>
          </ul>
        </a>
        <a id='email' href='mailto:info@zanzaneet.com'>
          <h2 class='title'>Email us</h2>
          <%= image_tag('email_logo.png', :size => '100x100', :alt => 'Email us') %>
          <ul>
            <li>info@zanzaneet.com</li>
          </ul>
        </a>
      </div>
    </div>
  </div>
  <%= render :partial => 'down_arrow', :locals => { :panel => 'recipesPanel' } %>
</div>

