<a id='news'></a>
<div class='container'>
  <div class='parallaxTitle'><span class='parallaxTitleText'><%= t('copy.home.news_panel.title') %></span></div>
  <div class='newsContent firstNewsContent'>
    <h1>
      <span class='icon-truck icon'></span>
      <%= t("copy.home.news_panel.news0.title") %>
    </h1>
    <div id='deliveryFormContainer'>
    </div>
    <div id='deliveryTextContainer'>
      <% t("copy.home.news_panel.news0.text").each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
      <div class='buttons'>
        <%= link_to 'Tell me about Home Delivery', new_feedback_path(category: :delivery), :class => 'formButton tellMeMore', :remote => true, :data => { :feedback => :homeDelivery } %>
      </div>
    </div>
  </div>
  <div class='newsContent'>
    <h1>
      <span class='icon-group icon'></span>
      <%= t("copy.home.news_panel.news1.title") %>
    </h1>
    <div id='classesFormContainer'>
    </div>
    <div id='classesTextContainer'>
      <% t("copy.home.news_panel.news1.text").each do |paragraph| %>
        <p><%= paragraph %></p>
      <% end %>
      <div class='buttons'>
        <%= link_to 'Tell me about Classes', new_feedback_path(category: :classes), :class => 'formButton tellMeMore', :remote => true, :data => { :feedback => :classes } %>
      </div>
    </div>
  </div>
</div>
<div class='clear'></div>
