<%= form_for @feedback, :remote => true do |form| %>
  <div>
    <!-- The errors here are only rendered for an Ajax response -->
    <% if @error %>
      <p class='flash errors'><%= @error %></p>
    <% end %>
    <% if @notice %>
      <p class='flash notice'><%= @notice %></p>
    <% end %>
  </div>
  <%= form.hidden_field :category %>
  <%= form.hidden_field :other %>
  <%= form.hidden_field :initial_timestamp %>
  <div class='field'>
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div class='field'>
    <%= form.label :email, "Email <span class='mandatory'>Required</span>".html_safe %>
    <%= form.email_field :email, :required => 'true' %>
  </div>
  <div class='field'>
    <%= form.label :phone, "Phone Number" %>
    <%= form.telephone_field :phone, :pattern => '[\(]?\d{2,5}[\)]?[ ]?\d{2,10}', :title => 'Phone number format: e.g. 09992 9999999999' %>
  </div>
  <div class='field'>
    <%= form.label :postcode, 'Postcode (UK only)' %>
    <%= form.text_field :postcode, :pattern => '\w{1,3}\d{1,3}?[ ]?\d{1,3}\w{1,3}', :title => 'Post code format: e.g. AA1 2BB' %>
  </div>
  <div class='formActions'>
    <%= form.submit('Submit', :class => 'formButton') %>
    <%= form.button('Cancel', :class => 'formButton cancelButton') %>
  </div>
<% end %>
